gfpgan/weights/
GFPGAN/experiments/
tmpFile/*
__pypackages__/
__pycache__/
.ipynb_checkpoints
CORE*
runs/*
temp/*
*.md
*.yaml
*.sh
*.pyc
assets/*
data/*
weight/*
cache/*

venv
temp
temp/temp_azure_cad/*
temp/temp_original/*